@import '../../route/Heading.scss';

@mixin marginPosition($left, $top) {
    margin-left: $left;
    margin-top: $top;
}
@mixin font($family,$size,$color,$background) {
    font-family: $family;
    font-size: $size;
    color: $color;
    background: $background;
}

@mixin line-H($btop, $bBot, $bLeft, $bRight, $w, $type, $col){
 border-top: $bBot $w $type $col;
 border-bottom: $bBot $w $type $col;
 border-left: $bLeft $w $type $col;
 border-right: $bRight $w $type $col;
 
}

body{
    overflow-x: hidden;
}

.caption{
   @include marginPosition(-80%, 0%);
   @include font(arial, 40px, white, none);
}

.captionpara{
    @include marginPosition(-80%, 0%);
    @include font(arial, 20px, white, none);
}

.section-one{
    @include marginPosition(0, 5%);
    
    & h1{
        @include font(arial, 40px, #9c1e5e, transparent);
        font-weight: bold;
    }
    & p{
        color: #7b7d84;
        text-align: justify;
    }
   
}
.horizen{
    border-top: 3px dashed #5f0333;
    background-color: transparent;
}

.horizen1{
    @extend .horizen;
    margin-left:30%;
    margin-right:30%;
}

.btn-sub-pos{
    background-color: #191970;
        color: white;
        border: none;
        height: 40px;
        
        padding-top: 5px;
        width: 20%;
        border-top-left-radius: 15% 50%;
        border-top-right-radius: 15% 50%;
        border-bottom-left-radius: 15% 50%;
        border-bottom-right-radius: 15% 50%;
        box-shadow: -2px -5px 19px 0px rgba(144, 136, 145, 0.507);
        font-weight: 500;
       margin-left: 80%;
       padding-bottom: 5%;
}
.btn-sub-pos:hover{
    background-color: white;
    color: #191970;
    border: #191970 2px solid;
    font-weight: bold;
}